MONSTERAPI_DBNAME=mapi
MONSTERAPI_APPSECRET=hello_there
MONSTERAPI_DBHOST=localhost
MONSTERAPI_DBPORT=5432
MONSTERAPI_DBUSER=postgres
MONSTERAPI_DBPASS=psql
MONSTERAPI_DBTYPE=postgres
MONSTERAPI_DEBUG=true
